@media (prefers-color-scheme: dark) {
    html { background-color: #111111; color: #fbfbfb; }
    a { color: #ca8465; }
  }
  body {
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 1rem auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img.u-photo { border-radius: 50%; }
  ul { padding: 0; list-style: none; }