  html {
    line-height: 1.6;
    font-family: "Georgia"; 
    text-rendering: optimizeLegibility;
    text-align: justify;
    margin: 0 auto;
   display: flex;
    flex-direction: column;
    max-width: 39em;
    background-color: #bbc4c9;
    color: #171d0d;
  }

  main, header {    
    justify-content: center;
    align-items: center; 
  }

  img.u-photo { 
    margin: 1em 1em 0;  
    border-radius: 50%; 
    float: right;
  }

  header {
      text-align: center;
      font-weight: bold;
  }

  h1 {
      color: #4c573b;
  }

  .menu {
      font-size: 1.2em;
      text-align: center;
  }

  #menu-head {
    margin: 1em 0 0 0;
  }

  #menu-right {    
    text-align: right;
  }

  .menu a.current-menu {
      text-decoration: overline;
      color: #171d0d;
  }

  a {
    color: #5a6f7e;
    text-decoration: underline;
  }

  a:hover {
    color: #423e1a;
    text-decoration: overline;
  }

