```{=html}
<p class=" list">
    <%
    let first = true;
    for (const item of items) { %>
        <% if (!first) { %> <span> · </span> <% } %>

        <a href="<%= item.href %>"><%- item.text %></a>

        <% if (first) first = false; %>
    <% } %>
</p>
``` 