```{=html}
<p class=" list">
    <%
    let first = true;
    for (const item of items) { %>
        <% if (!first) { %> <span> · </span> <% } %>
        <% if (templateParams.opcion == item.text) {%>
            <span class="current-menu">
        <% } else { %>
            <a href="<%= item.href %>">
        <% } %>
            
        <%- item.text %>
    
        <% if (templateParams.opcion == item.text) {%>
            </span>
        <% } else { %>
            </a>
        <% } %>

        <% if (first) first = false; %>
    <% } %>
</p>
``` 