```{=html}
<p class=" list">
    <%
    let first = true;
    for (const item of items) { %>
        <% if (!first) { %> <a> · </a> <% } %>

        <a href="<%= item.href %>" class="link"><%- item.text %></a>

        <% if (first) first = false; %>
    <% } %>
</p>
``` 